.container {
  position: absolute;
  bottom: 0;
  right: 50%;

  a {
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: bold;
    color: #8d8d99;
    margin: 1rem;
    display: flex;
    flex-direction: row;
    background: -webkit-linear-gradient(100deg, #ff008e 0%, #ffcd1e 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  p {
    margin-left: 5px;
  }
}

@media (max-width: 971px) {
  .container {
    right: 40%;
  }
}
